* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    --border: 1px solid rgb(214, 213, 213);
    --ccolor: rgb(255, 255, 255);
}

.noto {
    font-size: 12px;
    color: rgb(20, 20, 20);
    font-family: 'jetbrains mono', sans-serif;
}

.gray {
    color: rgb(34, 34, 34);
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 1rem;
}

body {
    width: 100%;
    background-color: #F6F8FA;
    /* background-color: rgb(243, 243, 243); */
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.top-bar {
    padding: 1rem;
    background-color: #283E4A;
}

.link {
    display: flex;
    text-align: center;
    margin: 1rem 1rem .5rem 2.5rem;
    align-items: center;
    color: rgb(175, 175, 175);
}

.link p {
    margin-right: auto;
    font-size: 14px;
    margin-left: 1rem;
}

.link:hover img,
.link:hover p {
    opacity: 1;
    color: #000;
    transition: 0.3s ease;
}

.link img {
    opacity: .5;
    margin: 0;
    width: 29px;
}

.main-div {
    display: flex;
    margin: auto;
    justify-content: center;
}

.left {
    justify-content: start;
    margin-left: 1%;
}

.bio {
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 45vh;
    padding-bottom: 5rem;
    justify-content: center;
    background-color: var(--ccolor);
    border: var(--border);
}

.mid-div {
    margin-top: 1rem;
}

.container {
    width: 50vw;
    position: relative;
    height: 22rem;
    padding: 2rem;
    margin-bottom: .5rem;
    background-color: var(--ccolor);
    border: var(--border);
}

.container:last-of-type {
    margin-bottom: 5rem;
}

.bg-none {
    background-color: transparent;
    border: none;
    display: flex;
    width: 100%;
    height: 20rem;
    padding: 0rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.card::after {
    content: '5';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.2rem;
    right: -.75rem;
    background-color: #283E4A;
    color: white;
    font-weight: bolder;
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    font-size: 13px;
}

.card:last-of-type::after {
    content: '3';
}

.card {
    position: relative;
    /* overflow: hidden; */
    height: 19.6rem;
    width: 49%;
    display: flex;
    flex-direction: column;
    background-color: var(--ccolor);
    border: var(--border);
}


.card-img {
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    object-fit: scale-down;
    /* margin-top: -2rem; */
}

.static {
    display: block;
    position: absolute;
    top: -2.4rem;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    object-fit: contain;
    background-color: transparent !important;
}

.card:hover {
    background-color: rgb(240, 240, 240);
    transition: .3s ease all;
}

.card:hover .static {
    opacity: 0;
    transition: .5s ease all;
}

.card:hover .card-img {
    display: block;
}

.card .header {
    position: absolute;
    bottom: .5rem;
    padding-top: 0rem;
    /* border-top: var(--border); */
    border-bottom: none;
    text-align: center;
    color: rgb(44, 44, 44);
}

.card:hover .header {
    position: relative;
    bottom: .5rem;
    transform: translateY(.5rem);
    transition: 0.3s ease transform;
}

.stat:first-of-type {
    border-right: 1px solid rgb(230, 230, 230);
}

.stat-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(252, 252, 252);
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.stat {
    width: 100%;
    position: relative;
    text-align: center;
    padding: .75rem;
}

h2 {
    font-size: 20px;
}

.hero {
    position: relative;
    line-height: 2.6rem;
    padding: 3rem;
    text-align: left;
    user-select: none;
}

.purple-text {
    color: #606cf8;
    font-weight: bold;
}

.name {
    padding: .2rem;
}

.hero .circle {
    position: absolute;
    left: 25.5rem;
    width: 6rem;
    height: 6rem;
    background-color: rgb(204, 200, 200);
    border-radius: 100%;
}

.cta {
    appearance: none;
    background-color: #606cf8;
    padding: 1.5rem;
    color: white;
    font-weight: bolder;
    outline: none;
    border: none;
    cursor: pointer;
}

.cta:hover {
    background-color: #515ccf;
}

.projects {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.project {
    display: none;
    width: 100%;
    margin: auto;
    /* border-radius: 1rem; */
}

.project img {
    width: 60%;
    margin-right: auto;
    object-fit: cover;
}

.project div {
    width: 50%;
    margin-right: auto;
    margin-left: 1rem;
}

.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    background-color: rgb(131, 131, 131);
    width: 4rem;
    height: 4rem;
    margin: auto;
    border-radius: 100%;
    text-align: center;
}

.header {
    width: 100%;
    padding-left: 0rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 1rem;
    text-align: left;
}

.projects-header {
    padding-bottom: 0;
}

.logo .desc-text {
    font-size: 12px;
    margin-top: .4rem;
    color: rgb(173, 173, 173);
    transform: translateY(0rem);
    transition: 0.3s ease all;
}

.desc-text {
    font-size: 15px;
    line-height: 1.5rem;
    margin-bottom: .5rem;
    color: rgb(145, 145, 145);
}

.logo-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr .25fr .25fr .25fr;
    width: 100%;
    align-content: center;
    justify-content: start;
    white-space: nowrap;
    /* background-color: rgba(0, 0, 0, 0.068); */
    border-radius: .5rem;
}

.logo {
    background-color: whitesmoke;
    border: var(--border);
    cursor: default;
    padding-top: .5rem;
    margin: .6rem;
    margin-top: .25rem;
    text-align: center;
    border-radius: .5rem;
}

.logo .desc-text {
    margin-top: .2rem;
    width: 100%;
    border-top: var(--border);
}

.logo:hover {
    background-color: #283E4A;
    transition: 0.3s ease all;
}

.logo:hover .desc-text {
    color: white;
    transition: 0.3s ease color;
}

.logo:first-of-type {
    margin-left: .7rem;
}

.logo i {
    font-size: 3em;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: .5rem;
    padding: 1rem;
    border-bottom: 2px solid rgb(230, 230, 230);

}

li {
    margin: 1rem;
}

li a {
    color: rgb(182, 182, 182);
}

.selected a {
    color: #000;
    font-weight: bold;
}

.selected {
    position: relative;
}

.selected::after {
    content: '';
    padding: 1rem;
    width: 100%;
    border-bottom: 3px solid #606cf8;
    position: absolute;
    top: 1.4rem;
    left: -.9rem;
    margin: auto;
    text-align: center;
}

.name-logo {
    width: 91px;
    height: 91px;
    margin: auto;
}

.little-text {
    font-size: 12px;
    color: rgb(180, 180, 180);
    font-weight: normal;
}

button {
    outline: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.buttons {
    user-select: none;
    border-top: var(--border);
    margin-top: 1rem;
    padding-top: .5rem;
    margin-bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#left-slider-btn {
    color: rgb(172, 172, 172);
    position: relative;
    font-size: 15px;
}

#right-slider-btn {
    color: rgb(172, 172, 172);
    position: relative;
    font-size: 15px;
}

#right-slider-btn:hover,
#left-slider-btn:hover {
    cursor: pointer;
    color: #000;
}

.mt {
    padding: 0;
    width: 100%;
    height: 36rem;
    margin-top: 1rem;
}

form {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

form div {
    text-align: left;
}

.subject {
    border-bottom: var(--border);
    margin-bottom: .7rem;
    padding-bottom: .7rem;
}

input {
    border: none;
    outline: none;
    background-color: rgb(233, 233, 233);
    margin: .4rem;
    margin-left: 0rem;
    padding: .5rem;
    width: 45%;
}

input:focus::placeholder {
    opacity: 0;
}

textarea {
    outline: none;
    border: none;
    margin: .3rem;
    margin-left: 0rem;
    resize: none;
    padding: .5rem;
    background-color: rgb(233, 233, 233);
}

textarea:focus::placeholder {
    opacity: 0;
}

form button {
    background-color: #606cf8;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    padding: .8rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
}

form button:hover {
    background-color: #515ccf;
    transition: 0.3s ease all;
}

.check {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    align-content: center;
    text-align: left;
    border-bottom: var(--border);
}

.check input[type='checkbox'] {
    border: none;
    outline: none;
    appearance: none;
    background-color: rgb(233, 233, 233);
    position: relative;
    margin: .3rem;
    width: 2%;
}

.check input[type='checkbox']:checked::after {
    content: '✓';
    position: absolute;
    top: -2%;
    left: 25%;
    font-weight: bolder;
    color: black;
}

.check label {
    margin-right: auto;
}

.view-btn,
.visit-btn {
    user-select: none;
    background-color: rgb(66, 96, 231);
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    border-radius: .25rem;
    font-size: 14px;
}
.visit-btn {
    background-color: #000;
    margin-left: 1%;
}
.not-live{
    opacity: 0.25;
    pointer-events: none;
}